*{
    margin: 2em 6em;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    /* font-style: italic; */
    line-height: 0.5em;
    background: linear-gradient(to right, rgb(147, 70, 232), rgb(80, 175, 171));
    letter-spacing: 0.1em;
}
.container{
    border: 2px solid black;
    border-radius: 10px 10px;
}
.options{
    border: 2px solid greenyellow;
    border-radius: 5px;
    /* border-width: 10px 25px 10px 10px; */
}
.nav > a{
    text-decoration: none;
}
progress{
    width: 400px;
    height: 25px;
    /* border-radius: 3px 2px ; */
    -webkit-appearance: none;

}
progress[value]::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 5px 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}
progress[value]::-webkit-progress-value {
    background-image:
         -webkit-linear-gradient(-45deg, 
                                 transparent 33%, rgba(0, 0, 0, .1) 33%, 
                                 rgba(0,0, 0, .1) 66%, transparent 66%),
         -webkit-linear-gradient(top, 
                                 rgba(255, 255, 255, .25), 
                                 rgba(0, 0, 0, .25)),
         -webkit-linear-gradient(left, #09c, #f44);
  
      border-radius: 2px; 
      background-size: 35px 20px, 100% 100%, 100% 100%;
}

/* progress[value]::-webkit-progress-value::after {
    content: '';
    width: 6px;
    height: 6px;
    position: absolute;
    border-radius: 100%;
    right: 7px;
    top: 7px;
    background-color: white;
} */


/**
progress {
    -webkit-writing-mode: horizontal-tb !important;
    -webkit-appearance: progress-bar;
    box-sizing: border-box;
    display: inline-block;
    height: 1em;
    width: 10em;
    vertical-align: -0.2em;
}
**/